div#dropzone {
    width: 200px;
    height: 250px;
    border: 1px dashed #999;
    text-align: center;
    border-radius: 4px;
    display: table-cell;
    vertical-align: middle;
}
div#dropzone p, div#dropzone img  {
    display: inline-block;
}

progress#uploadprogress { width: 200px;height: 16px; margin-top: 8px; }
div#dropzone.hover {
    background-color: #999;
}

div.container {
    width: 720px;
}
hr {
    border: 1px solid #333 !important;
}

footer {
    font-size: 80%;
    text-align: center;
}