@model System.Collections.Generic.IEnumerable<string>

@{
    ViewBag.Title = "Reflexif: EXIF tags and watermarking";
}
<div class="row">
    <h3>ReflEXIF: Image Upload and EXIF Data Demo</h3>
    <hr />
    <div class="col-md-4">
        <div id="dropzone">
            <p>Drop your file here!</p>
        </div>
        <p id="upload" class="hidden">
            <label>Drag & drop not supported, but you can still upload via this input field:<br><input type="file"></label>
        </p>
        <p id="filereader">File API & FileReader API not supported</p>
        <p id="formdata">XHR2's FormData is not supported</p>
        <p id="progress">XHR2's upload progress isn't supported</p>
        <p>
            <progress id="uploadprogress" min="0" max="100" value="0">0</progress>
        </p>
    </div>
    <div class="col-md-8">
        <form action="@Url.Action("Update", "Home")" id="metadata-form" method="post">
            <input type="hidden" name="filename" />
            <div class="form-group">
                <label for="title-input">Title:</label>
                <input type="text" class="form-control" id="title-input" name="title" />
            </div>
            <div class="form-group">
                <label for="copyright-input">Copyright:</label>
                <input type="text" class="form-control" id="copyright-input" name="copyright" />
            </div>
            @*
                <div class="form-group">
                    <label for="copyright-input">Subject:</label>
                    <input type="text" class="form-control" id="subject-input" name="subject" />
                </div>
                <div class="form-group">
                    <label for="copyright-input">Keywords:</label>
                    <input type="text" class="form-control" id="keywords-input" name="keywords" />
                </div>
            *@
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Upload Photograph" />
            </div>
        </form>
    </div>
</div>
<div class="row">
    <hr />
</div>
<h2>Images</h2>
<ul>
    @foreach (var image in Model) {
        <li><a href="@Url.Action("Details", new { filename = image })">@image</a></li>
    }
</ul>
@section scripts {
    <script src="~/Scripts/h5utils.js"></script>
    <script src="~/scripts/metadata.js"></script>
}