<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="~/Content/styles.css" rel="stylesheet" media="screen">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" media="screen">
    @RenderSection("head", required: false)
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/html5upload.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>